.root{
    font-family: 'Amatic SC', cursive; /* para leitura de descrições em destaque, fonte delicada, fina/"magra", esticada para cima */
    font-family: 'Dancing Script', cursive; /* letra cursiva generalista */
    font-family: 'Herr Von Muellerhoff', cursive; /* assinatura/marca/logo */
    font-family: 'Merienda', cursive; /* título em destaque */
    font-family: 'Tangerine', cursive; /* letra cursiva não-generalista */
    font-family: 'Roboto Condensed';
}

